# MonoGame build output
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle

# MonoGame content pipeline cache
*.mgcb.cache

# MonoGame intermediate content
Content/bin/
Content/obj/

# Mac OS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Rider IDE files
.idea/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Other
references/
*.db
