[submodule "src/KekLib.Simple-ECS"]
	path = src/KekLib.Simple-ECS
	url = https://github.com/olekslukian/KekLib.Simple-ECS
[submodule "src/KekLib.ImGuiNet"]
	path = src/KekLib.ImGuiNet
	url = https://github.com/olekslukian/KekLib.ImGuiNet.git
